.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-page-excel{
	background:url('icons/page_excel.png') no-repeat center center;
}
.icon-group-green-edit{
	background:url('icons/group_green_edit.png') no-repeat center center;
}
.icon-easyicon-net{
	background:url('icons/easyicon_net.png') no-repeat center center;
}
.2012081511913{
	background:url('icons/2012081511913.png') no-repeat center center;
}
.people{
	background:url('icons/people.png') no-repeat center center;
}
.house{
	background:url('icons/house.png') no-repeat center center;
}
.comments{
	background:url('icons/comments.png') no-repeat center center;
}
.icon-application-get{
	background:url('icons/application_get.png') no-repeat center center;
}
.icon-easyicon-net-16{
	background:url('icons/easyicon_net_16.png') no-repeat center center;
}
.icon-cross{
	background:url('icons/cross.png') no-repeat center center;
}
.icon-arrow-join{
	background:url('icons/arrow_join.png') no-repeat center center;
}
.icon-generatemessage{
	background:url('icons/generatemessage.png') no-repeat center center;
}
.icon-accept{
	background:url('icons/accept.png') no-repeat center center;
}
.icon-download{
	background:url('icons/download.png') no-repeat center center;
}
.icon-logs{
	background:url('icons/logs.png') no-repeat center center;
}
.icon-money{
	background:url('icons/money.png') no-repeat center center;
}
.icon-return{
	background:url('icons/return.png') no-repeat center center;
}
.icon-manage{
	background:url('icons/manage.png') no-repeat center center;
}
.icon-shield{
	background:url('icons/shield.png') no-repeat center center;
}
.icon-changeedit{
	background:url('icons/changeedit.png') no-repeat center center;
}
.icon-box{
	background:url('icons/box.png') no-repeat center center;
}
.icon-building_edit{
	background:url('icons/building_edit.png') no-repeat center center;
}
.icon-table_gear{
	background:url('icons/table_gear.png') no-repeat center center;
}
.icon-message{
	background:url('icons/message.png') no-repeat center center;
}
.icon-application_side_boxes{
    background:url('icons/application_side_boxes.png') no-repeat center center;
}
.icon-calendar_delete{
    background:url('icons/calendar_delete.png') no-repeat center center;
}
.icon-application_put{
    background:url('icons/application_put.png') no-repeat center center;
}
.icon-brick{
    background:url('icons/brick.png') no-repeat center center;
}
.icon-application_form{
    background:url('icons/application_form.png') no-repeat center center;
}
.icon-application_double{
    background:url('icons/application_double.png') no-repeat center center;
}
.icon-application_tile{
    background:url('icons/application_tile_horizontal.png') no-repeat center center;
}
.icon-arrow_inout{
    background:url('icons/arrow_inout.png') no-repeat center center;
}
.icon-application_view_tile{
    background:url('icons/application_view_tile.png') no-repeat center center;
}
.icon-application_side_boxes{
    background:url('icons/application_side_boxes.png') no-repeat center center;
}
.icon-application_view_detail{
    background:url('icons/application_view_detail.png') no-repeat center center;
}
.icon-user_home{
    background:url('icons/user_home.png') no-repeat center center;
}
.icon-arrow_divide{
    background:url('icons/arrow_divide.png') no-repeat center center;
}
.icon-neighbourhood{
    background:url('icons/neighbourhood.png') no-repeat center center;
}
.icon-cog_edit{
    background:url('icons/cog_edit.png') no-repeat center center;
}
.icon-cog_go{
    background:url('icons/cog_go.png') no-repeat center center;
}
.icon-user_star{
    background:url('icons/user_star.png') no-repeat center center;
}
.icon-vcard{
    background:url('icons/vcard.png') no-repeat center center;
}
.icon-report_user{
    background:url('icons/report_user.png') no-repeat center center;
}
.icon-coins{
    background:url('icons/coins.png') no-repeat center center;
}
.icon-world{
    background:url('icons/world.png') no-repeat center center;
}
.icon-map{
    background:url('icons/map.png') no-repeat center center;
}
.icon-page_white_stack{
    background:url('icons/page_white_stack.png') no-repeat center center;
}
.icon-page{
    background:url('icons/page.png') no-repeat center center;
}
.icon-script{
    background:url('icons/script.png') no-repeat center center;
}
.page_white_magnify{
	background:url('icons/page_white_magnify.png') no-repeat center center;
}
.application_osx_double{
	background:url('icons/application_osx_double.png') no-repeat center center;
}
.icon-email{
	background:url('icons/email.png') no-repeat center center;
}